In [1]:
import pandas as pd
import numpy as np

In [4]:
file_to_load = "Resources/purchase_data.csv"
df = pd.read_csv(file_to_load)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#Calcualte the total number of players
totPlayers = len(df["SN"].unique())
totPlayersVar = [{"Total Players":totPlayers}]
totPlayersDF = pd.DataFrame(totPlayersVar)
totPlayersDF

   Total Players
0            576

In [6]:
#Find the total number of of Unique Items, Number of Purchases, Total Revenue, and the Average Purchase Price
uniItems = len(df["Item Name"].unique())
uniItems
avgPrice = df["Price"].mean()
avgPrice = round(avgPrice,2)
avgPriceDis = ("$" + str(avgPrice))
totRev = df["Price"].sum()
totRevDis = ("$" + str(totRev))
totNumOfPur = df["Item ID"].count()
Purchasing_Analysis = pd.DataFrame([{"Number of Unique Items":uniItems, "Average Price": avgPriceDis, "Number of Purchases": totNumOfPur
                                   , "Total Revenue":totRevDis}])
Purchasing_Analysis_Ordered = Purchasing_Analysis[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
Purchasing_Analysis_Ordered

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [7]:
# Find the Percentage and Count of Male Players, Percentage and Count of Female Players, and Percentage and Count of Other / Non-Disclosed
malePlayers = df["Gender"].value_counts()
malePlayers

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [ ]:
# Find the purchase count, Average Purchase Price, Total Purchase Value, and Normalized Totals by gender