In [1]:
# Import Dependencies
import pandas as pd

In [5]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data
df = pd.DataFrame({
    "Frame":["Circle","Square", "Classic", "Triangle", "New"],
    "Price":["8", "15", "30", "10", "11"],
    "Sales":["10", "11", "10", "20", "30"]
})
df

      Frame Price Sales
0    Circle     8    10
1    Square    15    11
2   Classic    30    10
3  Triangle    10    20
4       New    11    30

In [9]:
# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data
diffDf = pd.DataFrame([
    {"Frame":"Circle", "Price":"8", "Sales":"10"},
    {"Frame":"Square", "Price":"15", "Sales":"11"}
    
])
diffDf

    Frame Price Sales
0  Circle     8    10
1  Square    15    11